body {

  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.videoBg {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: brightness(0.9);
}

.App {
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  height: 100vh;
}

.mainHeader {
  letter-spacing: 2px;
  color: white;
}

.mainDiv {
  padding-top: 150px;
}

.mainParagraph {
  color: #b8b1b1;
}

#inputField {
  padding: 10px;
  width: 300px;
}

.mainButton {
  padding: 10px;
  width: 100px;
}

.mainInput {
  margin: 0;
  width: 100%;
}

.generatedUrl {
  margin-top: 50px;
  font-size: 22px;
  color: #f34242;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}